NEXT_PUBLIC_SYNTHIA_URL=https://synthia-server.onrender.com
NEXT_PUBLIC_SUPABASE_URL=https://leisphnjslcuepflefri.supabase.co
NEXT_PUBLIC_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxlaXNwaG5qc2xjdWVwZmxlZnJpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzEyMjg1NzgsImV4cCI6MjA4NjgwNDU3OH0.YGOuHaFdfadx7H0CBkvm-zKJnweBNz3P9y05--kh9ic
